@import "~tachyons";

:root{
  --sans-serif :-apple-system, BlinkMacSystemFont, 'avenir next', avenir, 'helvetica neue', helvetica, ubuntu, roboto, noto, 'segoe ui', arial, sans-serif;

}

html, body, #root, [data-elm-hot=true]{
  font-family: var(--sans-serif);
  /*font-family: -apple-system, BlinkMacSystemFont, 'avenir next', avenir, 'helvetica neue', helvetica, ubuntu, roboto, noto, 'segoe ui', arial, sans-serif;*/
  height: 100%;
  font-size: 16px;
}
